@model AgendamentoProjeto.Models.Aviso

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Aviso</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AgendamentoId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AgendamentoId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Agendamento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Agendamento.AgendamentoId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mensagem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mensagem)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.AvisosId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
