@model IEnumerable<AgendamentoProjeto.Models.Agendamento>
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "Index";
    if (HttpContextAccessor.HttpContext.Session.GetString("Cargo") == "T.I")
    {
        Layout = "_Layout";
    }
    else
    {
        Layout = "_LayoutCoordenador";
    }
}


@if (ViewBag.ErrorDatabase != null)
{
    <div class="alert alert-danger mt-3">
        <p><strong>@ViewBag.ErrorDatabase</strong></p>
    </div>
}
<h1 style="text-align:center;font-weight:bold;font-size:30px;" class="mt-3 text-primary">Agendamentos</h1>

<br />
<br />

@if (ViewBag.Contagem != 0 && ViewBag.AgendamentosPendentes != null)
{
    <h6 class="mt-2 ml-4 text-primary">Agendamentos pendentes</h6>
    <div class="container">
        <div class="row" style="align-items:center;">
            @foreach (var ag in ViewBag.AgendamentosPendentes)
            {

                <div class="col-sm-4 mt-3 ">
                    <div class="card bg-light">
                        <div class="card-body border rounded border-primary">
                                <span style="height:30px;margin-left:100px; font-size:large; margin-bottom:15px" class="badge badge-warning">Pendente</span>
                            <div class="d-flex">
                                <p class="font-weight-bold" style="font-size:14px;">Data: </p>
                                <p class="text-primary font-weight-bold ml-2" style="font-size:14px;">@ag.DataAgendamento.ToShortDateString() - @ag.DataAgendamento.ToShortTimeString()</p>
                            </div>




                            <div class="d-flex">
                                <p class="font-weight-bold" style="font-size:14px;">DataFim: </p>
                                <p class="text-primary font-weight-bold ml-2" style="font-size:14px;">@ag.DataFimAgendamento.ToShortDateString() - @ag.DataFimAgendamento.ToShortTimeString()</p>
                            </div>


                            <div class="d-flex">
                                <p class="font-weight-bold" style="font-size:14px;">Laboratório: </p>
                                <p class="text-primary font-weight-bold ml-2" style="font-size:14px;">@ag.Laboratorio.NomeLaboratorio</p>
                            </div>
                            <div class="d-flex">
                                <p class="font-weight-bold" style="font-size:14px;">Professor: </p>
                                <p class="text-primary font-weight-bold ml-2" style="font-size:14px;">@ag.Professor.NomeProfessor</p>
                            </div>
                            <div class="d-flex">
                                <p class="font-weight-bold" style="font-size:14px;">Disciplina: </p>
                                <p class="text-primary font-weight-bold ml-2" style="font-size:14px;">@ag.Disciplina.NomeDisciplina</p>
                            </div>
                            <div class="d-flex">
                                <p class="font-weight-bold" style="font-size:14px;">Login solicitante: </p>
                                <p class="text-primary font-weight-bold ml-2" style="font-size:14px;">@ag.Usuario.Login</p>
                            </div>
                        
                        <div class="d-flex ">
                            <div class="d-flex ">
                                <a href="@Url.Action("Aprovar", "Agendamentos", new { ag.AgendamentoId })" class="btn btn-success btn-sm  font-weight-bold">Aprovar</a>

                                <a href="#" onclick="ExibirInputModal(@ag.AgendamentoId)" style="margin-left:2px;" class="btn btn-sm btn-danger ml-3 font-weight-bold text-white">Reprovar</a>
                            </div>
                        </div>

                        </div>
                    </div>
                </div>
            }

        </div>


    </div>

    <hr class="bg-info mt-5" />
}


<div class="d-flex mt-5">
    <form asp-action="Index" method="post">
        <div class="input-group">
            <input class="form-control py-2" type="date" name="Procurar" placeholder="Pesquisar por Data..." id="example-search-input">
            <span class="input-group-append">
                <button class="btn btn-outline-info" type="submit">
                    <i class="fa fa-search"></i>
                </button>
            </span>
        </div>
    </form>

    <div class="ml-2">
        <a asp-action="Create" class="text-white btn btn-success"> <i class="fa fa-plus fa-1x"></i> </a>
    </div>
</div>


<div class="row mt-5">

    @foreach (var nomeC in Model)
    {

        @if (nomeC.Status.NomeStatus != "Pendente")
        {
            <div class="col-sm-4 mt-3 ">
                <div class="card bg-light">
                    <div class="card-body border rounded border-primary">

                        


                        @if (nomeC.Status.NomeStatus == "Disponível")
                        {
                            <span style="height:30px;margin-left:100px; font-size:large; margin-bottom:15px" class="badge badge-success ">Disponível</span>
                        }
                        else if (nomeC.Status.NomeStatus == "Cancelado")
                        {
                            <span style="height:30px;margin-left:100px; font-size:large; margin-bottom:15px" class="badge badge-danger">Cancelado</span>
                        }
                        else if (nomeC.Status.NomeStatus == "Bloqueado")
                        {
                            <span style="height:30px;margin-left:100px; font-size:large; margin-bottom:15px" class="badge badge-dark">Bloqueado</span>

                        }


                        <div class="d-flex">
                            <p class="font-weight-bold" style="font-size:14px;">Data: </p>
                            <p class="text-primary font-weight-bold ml-2" style="font-size:14px;">@nomeC.DataAgendamento.ToShortDateString() - @nomeC.DataAgendamento.ToShortTimeString()</p>
                        </div>




                        <div class="d-flex">
                            <p class="font-weight-bold" style="font-size:14px;">DataFim: </p>
                            <p class="text-primary font-weight-bold ml-2" style="font-size:14px;">@nomeC.DataFimAgendamento.ToShortDateString() - @nomeC.DataFimAgendamento.ToShortTimeString()</p>
                        </div>


                        <div class="d-flex">
                            <p class="font-weight-bold" style="font-size:14px;">Laboratório: </p>
                            <p class="text-primary font-weight-bold ml-2" style="font-size:14px;">@nomeC.Laboratorio.NomeLaboratorio</p>
                        </div>
                        <div class="d-flex">
                            <p class="font-weight-bold" style="font-size:14px;">Professor: </p>
                            <p class="text-primary font-weight-bold ml-2" style="font-size:14px;">@nomeC.Professor.NomeProfessor</p>
                        </div>
                        <div class="d-flex">
                            <p class="font-weight-bold" style="font-size:14px;">Disciplina: </p>
                            <p class="text-primary font-weight-bold ml-2" style="font-size:14px;">@nomeC.Disciplina.NomeDisciplina</p>
                        </div>
                        <div class="d-flex">
                            <p class="font-weight-bold" style="font-size:14px;">Login solicitante: </p>
                            <p class="text-primary font-weight-bold ml-2" style="font-size:14px;">@nomeC.Usuario.Login</p>
                        </div>
                        @foreach (var avis in ViewBag.Avisos)
                        {
                            if (avis.AgendamentoId == nomeC.AgendamentoId)
                            {
                                <div class="d-flex">
                                    <p class="font-weight-bold" style="font-size:14px;">Aviso: </p>
                                    <p class="text-primary font-weight-bold ml-2" style="font-size:14px;">@avis.Mensagem</p>
                                </div>
                            }
                        }
                        <div class="d-flex ">
                            <a asp-action="Edit" asp-route-id="@nomeC.AgendamentoId" class="btn ml-4 btn-sm btn-warning  font-weight-bold">Editar</a>
                            <a class="btn btn-sm btn-danger ml-4 text-white font-weight-bold" href="#" onclick="ExibirModal(@nomeC.AgendamentoId)">Excluir</a>
                            <a href="@Url.Action("Create", "Avisos", new { AgendamentoId = nomeC.AgendamentoId })" class="btn ml-4 btn-sm btn-success text-white font-weight-bold">Anexar aviso</a>
                        </div>

                    </div>
                </div>
            </div>
        }
    }
</div>

<div class="modal" id="modal1" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Excluir</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Deseja prosseguir com a exclusão desse agendamento?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary btnExcluir">Sim</button>
                <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Não</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="modal2" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Mensagem</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <label class="control-label">Digite o motivo da reprovação</label>
                <input name="valormsg" class="form-control" id="inputModal" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary btnEnviar">Enviar</button>
                <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{


    <script>
        function ExibirModal(id) {
            $("#modal1").modal();
            $(".btnExcluir").on('click', function () {
                $.ajax({
                    url: "/Agendamentos/Delete",
                    method: "POST",
                    data: { id: id },
                    success: function (result) {
                        $(".modal").modal('hide');
                        if (result.message == 'error') {
                            alert('Agendamento tem um aviso anexado, favor apague o aviso para a exclusão do agendamento possa ser concluída.')
                        }
                            location.reload(true);
                        //alert(result.message)
                    }
                });
            });
        }

        function ExibirInputModal(AgendamentoId) {
            $("#modal2").modal();
            $(".btnEnviar").on('click', function () {
                var mensagem = $('#inputModal').val()
                if (mensagem != null) {
                    $.ajax({
                        url: "/Agendamentos/Reprovar",
                        method: "POST",
                        data: { AgendamentoId: AgendamentoId, mensagem: mensagem },
                        success: function (data) {
                            $(".modal").modal('hide');
                            location.reload(true);
                         
                        }
                    });
                } else {
                    alert('favor preencha o campo de mensagem!')
                }
            })
        }
    </script>

}
