@model IEnumerable<AgendamentoProjeto.Models.Laboratorio>
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "Index";
    if (HttpContextAccessor.HttpContext.Session.GetString("Cargo") == "T.I")
    {
        Layout = "_Layout";
    }
    else
    {
        Layout = "_LayoutCoordenador";
    }
}

<h1 style="text-align:center;font-weight:bold;font-size:30px;" class="mt-3 text-primary">Laboratórios</h1>
<br />
<br />
<ul class="navbar-nav  flex-row mt-4">


    <li class="nav-item">

        <form asp-action="Index" method="post">
            <div class="input-group">
                <input class="form-control py-2" type="search" name="Procurar" placeholder="Pesquisar por nome..." id="example-search-input">
                <span class="input-group-append">
                    <button class="btn btn-outline-info" type="submit">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </form>
    </li>


    <li>
        <div class="ml-2">
            <a asp-action="Create" class="text-white btn btn-success"> <i class="fa fa-plus fa-1x"></i> </a>
        </div>
    </li>



</ul>

<div class="container mt-3">
    <div class="row" style="align-items:center;">
        @foreach (var item in Model)
        {

            <div class="col-md-4 mt-3 ">
                <div class="card bg-light">
                    <div class="card-body border rounded border-primary">
                        <div class="d-flex">
                            <div class="d-flex">
                                <label class="fonteSquares">Computadores: </label>
                                <label class="fonteSquares text-primary ml-2 font-weight-bold">@Html.DisplayFor(modelItem => item.QuantidadePcs)</label>
                            </div>
                            @if (item.StatusId == 1)
                            {
                                <span style="height:20px;margin-left:60px;" class="badge badge-success">Disponível</span>
                            }
                            else if (item.StatusId == 2)
                            {
                                <span style="height:20px;margin-left:60px;" class="badge badge-warning">Pendente</span>
                            }
                            else if (item.StatusId == 3)
                            {
                                <span style="height:20px;margin-left:60px;" class="badge badge-danger">Cancelado</span>
                            }
                            else if (item.StatusId == 4)
                            {
                                <span style="height:20px;margin-left:60px;" class="badge badge-dark">Bloqueado</span>
                            }
                            else if (item.StatusId == 5)
                            {
                                <span style="height:20px;margin-left:60px;" class="badge badge-info">Manutenção</span>
                            }
                        </div>
                        <div class="d-flex">
                            <label class="fonteSquares">Nome Laboratório: </label>
                            <label class="fonteSquares text-primary ml-2 font-weight-bold">@Html.DisplayFor(modelItem => item.NomeLaboratorio)</label>
                        </div>
                        <div class="d-flex">
                            <label class="fonteSquares">Hardware: </label>
                            <label class="fonteSquares text-primary ml-2 font-weight-bold">@Html.DisplayFor(modelItem => item.Hardware)</label>
                        </div>
                        <div class="d-flex">
                            <label class="fonteSquares">Software: </label>
                            <label class="fonteSquares text-primary ml-2 font-weight-bold">@Html.DisplayFor(modelItem => item.Software)</label>
                        </div>
                        <div class="d-flex">
                            <label class="fonteSquares">Tem projetor?: </label>
                            @if (item.Projetor == true)
                            {
                                <label class="fonteSquares text-primary ml-2 font-weight-bold">Sim</label>
                            }
                            else
                            {
                                <label class="fonteSquares text-primary ml-2 font-weight-bold">Não</label>
                            }

                        </div>
                        <div class="d-flex mt-3">
                            <a asp-action="Edit" asp-route-id="@item.LaboratorioId" class="btn ml-4 btn-sm btn-warning  font-weight-bold">Editar</a>
                            <a class="btn btn-sm btn-danger ml-4 text-white font-weight-bold" href="#" onclick="ExibirModal(@item.LaboratorioId)">Excluir</a>
                            <a href="@Url.Action("Manutencao", "Laboratorios", new { id = item.LaboratorioId })" class="btn ml-4 btn-sm btn-success text-white font-weight-bold">Manutenção</a>
                        </div>

                    </div>
                </div>
            </div>
        }
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Excluir</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Deseja prosseguir com a exclusão desse laboratório?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary btnExcluir">Sim</button>
                <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Não</button>
            </div>
        </div>
    </div>
</div>


@section Scripts {

    <script>
        function ExibirModal(id) {
            $(".modal").modal();
            $(".btnExcluir").on('click', function () {
                $.ajax({
                    url: "/Laboratorios/Delete",
                    method: "POST",
                    data: { id: id },
                    success: function (data) {
                        $(".modal").modal('hide');
                        location.reload(true);
                    }
                });
            });
        }


        function ProjetorFiltro() {

            var ar = $('#myboolList').val().toLowerCase();
            console.log(ar);
            $.ajax({
                url: "Laboratorios/ProjetorPost",
                method: "POST",
                data: { Projetor: ar },
                success: function () {
                    location.reload(true);
                }
            });

        };
    </script>
}



